#area
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}
#area #formulario
{
  position:absolute;
  display:block;
  color: rgb(255, 255, 255);
  text-align: center;
}
fieldset
{
  width: 300px;
  height:250px;
  
}

#formulario{
margin-top: 20vh;
font-weight: bolder;
font-size: 20px;
backdrop-filter: blur(20px);
}

body{
background-size: cover;
}

.forms{
text-align: center;

}